<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bioshock")

    @RenderSection("scripts", required: false)

    <!--link href="~/Content/themes/base/jquery-ui-1.10.3.custom.css" rel="stylesheet" />-->
    <script src="~/Scripts/Prototypes.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.3.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <link href="~/Content/themes/base/jquery-ui-1.10.3.css" rel="stylesheet" />
    <link href="~/Content/CodeMirror/codemirror.css" rel="stylesheet" />
    <script src="~/Content/CodeMirror/codemirror.js"></script>
    <script src="~/Content/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="~/Content/CodeMirror/mode/vbscript/vbscript.js"></script>
    <script src="~/Content/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/Content/CodeMirror/mode/xml/xml.js"></script>
    <script src="~/Content/CodeMirror/mode/css/css.js"></script>
    <link href="~/Content/CodeMirror/theme/monokai.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic' rel='stylesheet' type='text/css'>
</head>
<body>
    @RenderBody()
    <div id="overlay"></div>

</body>
</html>
