@model Lisa.Storage.File

@{
    ViewBag.Title = "Fullscreen";
}

<style>
    body {  
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        height: auto;
        z-index: 9;
        padding-bottom: 30px;
    }

    .footer {
        height: 29px;
        width: 100%;
        position: absolute;
        background-color: #f7f7f7;
        border-top: 1px solid #dddddd;
        left: 0;
            font-family: 'Segoe UI';
        bottom:0;
    }

        .footer p {

            font-size: 16px;
            margin-top: 4px;
            margin-left: 5px;
        }

        .footer #filename {

            padding: 0 !important;
            width: auto !important;
            float: none;

        }
</style>

@if (ViewBag.Project != null) 
{
    <input type="hidden" value="@ViewBag.Project.ID" id="ProjectID" />
}

<script type="text/javascript">
    $(function () {

        var editor = CodeMirror(document.body, {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            smartIndent: false,
            tabSize: 2,
            theme: "default",
            fullScreen: true,
            gutters: ["Errors", "CodeMirror-linenumbers"]
        });
        
        //editor.setOption("fullScreen", !editor.getOption("fullScreen"));
        var guiController = new FullScreenGuiController();
        guiController.registerEditor(editor);
        guiController.openFile('@Model.ID');
    });
</script>

@Html.Partial("_EditorMenuWindow")
@Html.Partial("_NewFileWindow")
@Html.Partial("_OpenFileWindow")

<div class="footer"><p>Filename: <span id="filename"></span> Line:</p></div>